@font-face
{
	font-family: 奶油小甜心;
	src: url(奶油小甜心.ttf);
}

* { margin:0px; padding:0px; font-size: 14px; font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体"; }

.text { font-family: 奶油小甜心; }
.layer { position: absolute; z-index: 0; top: 0; left: 0; width: 100%; height: 100%; }

#loading { z-index: 9; background: white url('images/loading.gif') no-repeat fixed center; }

#welcome { z-index: 8; background: #8BCB30;}
	#welcome p { text-align: center; color: white; }
	#welcome #title { font-size: 120px; cursor: pointer; text-shadow:0 0 0 #fff; transition: text-shadow 0.2s; -webkit-transition: text-shadow 0.2s;}
	#welcome #title:hover { text-shadow:0 0 5px #fff; transition: text-shadow 0.2s; -webkit-transition: text-shadow 0.2s; }
	#welcome #tips { font-size: 60px; cursor: default; }

#background { z-index: -1; overflow: hidden; }
	#background img { position:relative; opacity: 0.1; }

#basket { z-index: 1; top: auto; bottom: 0; height: 100px; background: rgba(255,255,255, 0.38); }
	#basket .side { position: absolute; }
		#basket #basket_lside { left: 0px; }
		#basket #basket_rside { right: 0px; }
	#basket .button { padding: 0px 15px 0px; font-size: 24px; font-weight: bold; text-align: center; color: #444; line-height: 100px; cursor: pointer; }
	#basket #content { width: auto; height: 100%; margin: 0; }
		#basket .item { width: auto; height: 100%; display: inline-block; }
		#basket .item img { width: auto; height: 100%; cursor: pointer; }

#cloud {}
	.tag { cursor: pointer; opacity: 1; }
